XML/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Fet per: Joan Marc-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">
    <xs:element name="users">
    <xs:complexType>
    <xs:sequence>
    <xs:element name="user">
    <xs:complexType>
    <xs:sequence>
    <xs:element name="name"></xs:element>
    <xs:element name="lastname"></xs:element>
    <xs:element name="age"></xs:element>
    <xs:element name="profile_image"></xs:element>
    <xs:element name="register_date"></xs:element>
    <xs:element name="about"></xs:element>
    </xs:sequence>
    </xs:complexType>
    </xs:element>
    </xs:sequence>
    </xs:complexType>
    </xs:element>

</xs:schema>